<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baptiste Leduc</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./about.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <script
      src="https://kit.fontawesome.com/7304188290.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="desktop">
      <nav class="navbar">
        <ul class="links">
          <li>
            <a class="active" href="/"
              ><i class="icon fa-solid fa-house"></i>Home</a
            >
          </li>
          <li>
            <a href="/about"
              ><i class="icon fa-regular fa-address-card"></i>About</a
            >
          </li>
          <li>
            <a href="/blog"><i class="icon fa-regular fa-file"></i>Blog</a>
          </li>
        </ul>
      </nav>
      <header class="header">
        <div class="header-content">
          <img
            class="logo"
            src="../assets/Frieren.png"
            alt="Picture of Baptiste"
          />
          <h1>Baptiste LEDUC</h1>
          <ul class="social-icons">
            <li>
              <a href="https://github.com/Korbeil" target="_blank"
                ><i class="icon fa-brands fa-github"></i
              ></a>
            </li>
            <li>
              <a href="https://x.com/Korbeil_"
                ><i class="icon fa-brands fa-twitter" target="_blank"></i
              ></a>
            </li>
            <li>
              <a href="mailto:baptiste.leduc@gmail.com" target="_blank"
                ><i class="icon fa-regular fa-envelope"></i
              ></a>
            </li>
          </ul>
        </div>
      </header>
    </div>
    <!-- mobile -->
    <div id="mobile">
      <div class="toggle-button">
        <a id="sidebar-toggle" class="sidebar-toggle">
          <span class="sidebar-toggle-bar sidebar-toggle-bar--top"></span>
          <span class="sidebar-toggle-bar sidebar-toggle-bar--middle"></span>
          <span class="sidebar-toggle-bar sidebar-toggle-bar--bottom"></span>
        </a>
      </div>
      <aside class="sidebar">
        <div class="sidebar-header">
          <img
            src="../assets/Frieren.png"
            class="logo"
            alt="Picture of Baptiste"
          />
          <h1>Baptiste Leduc</h1>
        </div>
        <!-- links -->
        <ul class="links">
          <li>
            <a class="active" href="/">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
        </ul>
        <!-- social media -->
        <ul class="social-icons sidebar-header">
          <li>
            <a href="https://github.com/Korbeil" target="_blank"
              ><i class="icon fa-brands fa-github"></i
            ></a>
          </li>
          <li>
            <a href="https://x.com/Korbeil_"
              ><i class="icon fa-brands fa-twitter" target="_blank"></i
            ></a>
          </li>
          <li>
            <a href="mailto:baptiste.leduc@gmail.com" target="_blank"
              ><i class="icon fa-regular fa-envelope"></i
            ></a>
          </li>
        </ul>
      </aside>
    </div>
    <section class="about">
      <div class="text-items">
        <h2>About Me</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          architecto soluta, non consequuntur delectus quidem cumque veritatis
          quos debitis voluptatem accusamus velit et molestias modi dolor,
          expedita nemo a explicabo!
        </p>
      </div>
      <div class="history-tl-container">
        <ul class="tl">
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              <div class="timestamp-year">2018 - Now </div>
              <div class="timestamp-company">JoliCode</div>
            </div>
            <div class="item-title">JoliCode</div>
            <div class="item-detail">
              JoliCode is an expert agency in the realization of quality Web and
              mobile projects.
            </div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              2018 - 2018 <br />
              Weglot
            </div>
            <div class="item-title">Weglot</div>
            <div class="item-detail">
              Weglot is a SaaS translation platform. The goal is to plug onto
              everything easily as possible & to deliver high quality automated
              translations through machine learning and usual Bing/Google/Yandex
              and DeepL APIs. PHP Developer Kit The first aim I got when coming
              to Weglot was to make a Laravel integration for our product. So
              before doing that, we choosed to collect all core functionalities
              from existing integrations (Wordpress and Symfony) and to make a
              simple library with all theses. Here comes the PHP Developer Kit.
              It’s splitted in 3 parts: - Client: manage all communication with
              the API & provide API objects to validate data you send. - Parser:
              used to manage website content, filter sentences we gonna traduce
              and replace them in your DOM to let you print it translated. -
              Util: doesn’t really needs to be described. Symfony Legacy
              Refactoring I worked on refactoring a Symfony 3.3 website, while a
              colleague took care of the migration to 3.4, I helped him with
              services autowiring. After that I helped on refactoring some parts
              of the API like request validation and some code architecture.
            </div>
            <div class="item-title">PHP Developer Kit</div>
            <div class="item-detail">The first aim I got when coming
              to Weglot was to make a Laravel integration for our product. So
              before doing that, we choosed to collect all core functionalities
              from existing integrations (Wordpress and Symfony) and to make a
              simple library with all theses. Here comes the PHP Developer Kit.
              It’s splitted in 3 parts: - Client: manage all communication with
              the API & provide API objects to validate data you send. - Parser:
              used to manage website content, filter sentences we gonna traduce
              and replace them in your DOM to let you print it translated. -
              Util: doesn’t really needs to be described. Symfony Legacy
              Refactoring I worked on refactoring a Symfony 3.3 website, while a
              colleague took care of the migration to 3.4, I helped him with
              services autowiring. After that I helped on refactoring some parts
              of the API like request validation and some code architecture.
            </div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              <div class="timestamp-year">2018 - Now </div>
              <div class="timestamp-company">JoliCode</div>
            </div>
            <div class="item-title">PHP Developer Kit</div>
            <div class="item-detail">The first aim I got when coming
              to Weglot was to make a Laravel integration for our product. So
              before doing that, we choosed to collect all core functionalities
              from existing integrations (Wordpress and Symfony) and to make a
              simple library with all theses. Here comes the PHP Developer Kit.
              It’s splitted in 3 parts: - Client: manage all communication with
              the API & provide API objects to validate data you send. - Parser:
              used to manage website content, filter sentences we gonna traduce
              and replace them in your DOM to let you print it translated. -
              Util: doesn’t really needs to be described. Symfony Legacy
              Refactoring I worked on refactoring a Symfony 3.3 website, while a
              colleague took care of the migration to 3.4, I helped him with
              services autowiring. After that I helped on refactoring some parts
              of the API like request validation and some code architecture.
            </div>
            <div class="item-title">PHP Developer Kit</div>
            <div class="item-detail">The first aim I got when coming
              to Weglot was to make a Laravel integration for our product. So
              before doing that, we choosed to collect all core functionalities
              from existing integrations (Wordpress and Symfony) and to make a
              simple library with all theses. Here comes the PHP Developer Kit.
              It’s splitted in 3 parts: - Client: manage all communication with
              the API & provide API objects to validate data you send. - Parser:
              used to manage website content, filter sentences we gonna traduce
              and replace them in your DOM to let you print it translated. -
              Util: doesn’t really needs to be described. Symfony Legacy
              Refactoring I worked on refactoring a Symfony 3.3 website, while a
              colleague took care of the migration to 3.4, I helped him with
              services autowiring. After that I helped on refactoring some parts
              of the API like request validation and some code architecture.
            </div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              <div class="timestamp-year">2018 - Now </div>
              <div class="timestamp-company">JoliCode</div>
            </div>
            <div class="item-title">mon-avocat</div>
            <div class="item-detail">CTO</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              <div class="timestamp-year">2018 - Now </div>
              <div class="timestamp-company">JoliCode</div>
            </div>
            <div class="item-title">mon-avocat</div>
            <div class="item-detail">CTO</div>
          </li>
        </ul>
      </div>
    </section>
    <!-- javascript -->
    <script src="../app.js"></script>
  </body>
</html>
